Binding/MSMQ_Mail/Binding.MSMQ.Mail.Client.WPF/Service References/Service/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.class-a.nl/msmq/example01/2008/02/" elementFormDefault="qualified" targetNamespace="http://schemas.class-a.nl/msmq/example01/2008/02/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SubmitMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="tns:MailMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="MailMessage">
    <xs:sequence>
      <xs:element name="ToAddress" nillable="true" type="xs:string" />
      <xs:element name="FromAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BCCAddress" nillable="true" type="xs:string" />
      <xs:element name="Subject" nillable="true" type="xs:string" />
      <xs:element name="Body" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MailMessage" nillable="true" type="tns:MailMessage" />
</xs:schema>